.page-quote-step-3 {
    
    .step {
       font-family: BebasNeueBold;
       font-size: 20px;
       color: #EE3E33;
       letter-spacing: 1.04px;
       margin: 0 auto;
    }

    .validation_error {
         
    }
}