@font-face {
    font-family: 'BebasNeue';
    src: url('assets/fonts/bebasneue-webfont.woff2') format('woff2'),
         url('assets/fonts/bebasneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BebasNeueBold';
    src: url('assets/fonts/bebasneuebold-webfont.woff2') format('woff2'),
         url('assets/fonts/bebasneuebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}